@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes slideFromRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(20%);
  }
}

.animate-slide-from-right {
  animation-name: slideFromRight;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}



@keyframes slideFromLeft {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-slide-from-left {
  animation-name: slideFromLeft;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}


body {
  color: white;
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);  
}
